/* index begins */
/* grid template for index page */
.indexbody{
display: grid;
height: 100vh;
width: 100vw;
background-image: url("/images/joker.gif");
background-size: cover;
opacity: 0.9;
grid-template-columns: 100%;
grid-template-rows: 1fr 1fr 1fr;
}

/* title for game */
#titleH{
    color: rgb(216, 12, 12);
    font-size: 5.9em;
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    /* position: absolute; */


}

/* div that covers play button */
#playBu{       
grid-column: 1;
grid-row: 3;
text-align: center;
}
/* button that says Let's play */

.play{
padding: 0%;
margin: 0%;    
font-size: 2.5em;
background-color: rgb(7, 6, 6);
border: rgb(0, 0, 0);
}
/* hyperlink removal */
a:link{
    text-decoration: none;
    
}
/* middle image */
#batman{
    background-image: url("/images/golden-chandelier.png");
    background-size: cover;
    border: solid red; 
    grid-column: 1;
    grid-row: 2;
    /* text-align: center; */
    /* background-repeat: no-repeat;  */
}

/* index ends */
/* first page begins */
.firstPageBody{
    display: grid;
    height: 100vh;
    width: 100vw;
    background-image: url("/images/jokerSmileVector.jpg");
    background-size: cover;
    opacity: 0.9;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
/* title for game */
#titleH2{
    color: rgb(216, 12, 12);
    font-size: 5.9em;
    grid-column: span 2;
    grid-row: 1;
    text-align: center;
    /* position: absolute; */


}
/* actual hanging figure */
#hangMan{
    border: solid black;
    border: 2px;
    width: 75px;
    height: 200px;
}

